---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import nycu from '../assets/nyculogo.png';
import Lndatalogo from '../assets/lndata_logo.jpg';
import AppWorksSchool from '../assets/appworks.png';
import gdsc from '../assets/gdsc.png';
import appier from '../assets/AppierLogo.png';
import jgp from '../assets/jgp.png';
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <p class="font-bold text-2xl md:text-4xl text-shadow mb-4 md:mb-6">Education</p>
  <div class="flex flex-col gap-4 md:gap-6 mb-8 md:mb-12">
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2 sm:gap-0">
      <div class="text-sm md:text-lg flex items-center gap-3">
        <Image src={nycu} alt="NYCU" class="w-12 h-12 md:w-16 md:h-16 rounded-full" />
        <div>
          <p class="font-medium">National Yang Ming Chiao Tung University</p>
          <p class="text-sm md:text-base text-[#bdbdbd]">M.S. Institute of Artificial Intelligence Innovation</p>
        </div>
      </div>
      <div class="text-sm md:text-base text-[#bdbdbd]">
        Quit school
      </div>
    </div>
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2 sm:gap-0">
      <div class="text-sm md:text-lg flex items-center gap-3">
        <Image src={nycu} alt="NYCU" class="w-12 h-12 md:w-16 md:h-16 rounded-full" />
        <div>
          <p class="font-medium">National Yang Ming Chiao Tung University</p>
          <p class="text-sm md:text-base text-[#bdbdbd]">B.S. Information Management and Finance</p>
        </div>
      </div>
      <div class="text-sm md:text-base text-[#bdbdbd]">
        Sep 2021 – Jun 2025
      </div>
    </div>
  </div>
  <p class="font-bold text-2xl md:text-4xl text-shadow mb-4 md:mb-6">Experience</p>
  <div class="flex flex-col gap-4 md:gap-6 mb-8 md:mb-12">
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2 sm:gap-0">
      <div class="text-sm md:text-lg flex items-center gap-3">
        <Image src={jgp} alt="JGPLOGO" class="w-12 h-12 md:w-16 md:h-16 rounded-full" />
        <span class="font-medium">Jamie's Gap Year Program #3</span>
      </div>
      <div class="text-sm md:text-base text-[#bdbdbd]">
        Aug 2025 – Now
      </div>
    </div>
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2 sm:gap-0">
      <div class="text-sm md:text-lg flex items-center gap-3">
        <Image src={appier} alt="GDSC" class="w-12 h-12 md:w-16 md:h-16 rounded-full" />
        <span class="font-medium">Appier Technical Solutions Intern</span>
      </div>
      <div class="text-sm md:text-base text-[#bdbdbd]">
        Nov 2024 – Jun 2025
      </div>
    </div>
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2 sm:gap-0">
      <div class="text-sm md:text-lg flex items-center gap-3">
        <Image src={gdsc} alt="GDSC" class="w-12 h-12 md:w-16 md:h-16 rounded-full" />
        <span class="font-medium">NYCU GDSC Tech Team - Full Stack Lead</span>
      </div>
      <div class="text-sm md:text-base text-[#bdbdbd]">
        Sep 2024 – Jun 2025
      </div>
    </div>
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2 sm:gap-0">
      <div class="text-sm md:text-lg flex items-center gap-3">
      <Image src={Lndatalogo} alt="LnData" class="w-12 h-12 md:w-16 md:h-16 rounded-full" />
        <span class="font-medium">LnData Web Development Intern</span>
      </div>
      <div class="text-sm md:text-base text-[#bdbdbd]">
        Jan 2024 – Aug 2024
      </div>
    </div>
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2 sm:gap-0">
      <div class="text-sm md:text-lg flex items-center gap-3">
        <Image src={AppWorksSchool} alt="AppWorks School" class="w-12 h-12 md:w-16 md:h-16 rounded-full" />
        <span class="font-medium">AppWorks School Campus Backend trainee</span>
      </div>
      <div class="text-sm md:text-base text-[#bdbdbd]">
        Sep 2023 – Jan 2024
      </div>
    </div>
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2 sm:gap-0">
      <div class="text-sm md:text-lg flex items-center gap-3">
        <Image src={AppWorksSchool} alt="AppWorks School" class="w-12 h-12 md:w-16 md:h-16 rounded-full" />
        <span class="font-medium">AppWorks School Campus Frontend trainee</span>
      </div>
      <div class="text-sm md:text-base text-[#bdbdbd]">
        Jul 2023 – Aug 2023
      </div>
    </div>
  </div>
</BaseLayout>
